@import url("./iziToast.min.css");

::-webkit-scrollbar {
    width: 7.5px;
    height: 7.5px;
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background: #58585c;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb {
    background: #808080;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #80808080;
}

:root {
    --content-color: rgb(233,233,233);
    --block-color: #3b3b3bc0;
    --desc-color: #a2a7ae;
    --block-radius: 8px;
    --split-color: #c4c4c433;
}

body {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-color: rgba(15,15,15,0.6);
}

 * {
    font-family: "HarmonyOS_Sans_SC_Regular";
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
}

.iziToast-wrapper-topRight,
.iziToast-wrapper-topLeft {
    transform: translateY(30px);
}