@import url("./iziToast.min.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1, h2 {
        @apply font-bold;
    }
    h2 {
        font-size: 20px;
    }
    
}

::-webkit-scrollbar {
    width: 7.5px;
    border-radius: 6px;
    visibility: hidden;
}

::-webkit-scrollbar-track {
    /* background: #58585c; */
    border-radius: 6px;
}

::-webkit-scrollbar-thumb {
    background: #808080;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #80808080;
}

:root {
    --primary-color: rgb(212,78,125);
    --content-color: rgb(233,233,233);
    --desc-color: #a2a7ae;
    --block-radius: 8px;
    --split-color: #c4c4c433;
    --block-color: #333;
    --section-color: #1f1f1f;
}

body {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-color: rgba(15,15,15,0.6);
}

 * {
    font-family: -apple-system, "HarmonyOS_Sans_SC_Regular";
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    user-select: none;
}

@media (-webkit-max-device-pixel-ratio: 1) {
    * {
        font-family: -apple-system, system-ui, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, Helvetica, "Apple Color Emoji", Arial, "Segoe UI Emoji", "Segoe UI Symbol";
    }
}

input {
    background: none;
    outline: none;
    border: none;
    margin: 0;
}

hr {
    border: 0.5px solid var(--split-color);
    margin: 8px 0;
}

button, select, input {
    @apply relative appearance-none border-0 outline-0 h-8 rounded-lg text-sm px-2.5 py-1.5 leading-none;
    @apply bg-[color:var(--block-color)] text-[color:var(--content-color)];
    @apply hover:brightness-[85%];
    @apply transition !select-none;
}

button {
    @apply hover:cursor-pointer;
}

button.selected {
    @apply brightness-[85%];
}

button i + span, button span + i {
    margin-left: 8px;
}

select {
    @apply hover:cursor-pointer;
    min-width: 152px;
}

.bcc-iconfont {
	font-style: normal;
}

.ellipsis {
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-word;
    white-space: nowrap;
}

.desc {
    font-size: 14px;
    color: var(--desc-color);
    display: inline-block;
}

.dis-placeholder {
    color: #c4c4c450;
    pointer-events: none;
}

.iziToast-wrapper-topRight,
.iziToast-wrapper-topLeft {
    transform: translateY(30px);
}

.text, .text * {
    user-select: text;
}