@font-face {font-family: "bcc-iconfont";
  src: url('../font/bcc-iconfont.woff') format('woff'),
}

.bcc-iconfont {
  font-family: "bcc-iconfont";
  font-size: 17px;
  color: inherit;
}

.bcc-icon-shanchugaojian:before {
  content: "\e6aa";
}

.bcc-icon-danmuguanli:before {
  content: "\e6ab";
}

.bcc-icon-pinglunguanli:before {
  content: "\e6ac";
}

.bcc-icon-bianjijilu:before {
  content: "\e6ad";
}

.bcc-icon-shoucang:before {
  content: "\e6ae";
}

.bcc-icon-fenxiangtougao:before {
  content: "\e6af";
}

.bcc-icon-bianjigaojian:before {
  content: "\e6b0";
}

.bcc-icon-gexinghuapeizhi2x:before {
  content: "\e6a9";
}

.bcc-icon-ic_General_announcement2x:before {
  content: "\e6a8";
}

.bcc-icon-photo__upload2x:before {
  content: "\e6a7";
}

.bcc-icon-music__upload2x:before {
  content: "\e6a6";
}

.bcc-icon-interactive_upload2x:before {
  content: "\e6a5";
}

.bcc-icon-video_upload2x:before {
  content: "\e6a3";
}

.bcc-icon-column__upload2x:before {
  content: "\e6a4";
}

.bcc-icon-icon_change_:before {
  content: "\e6a2";
}

.bcc-icon-ic_audit:before {
  content: "\e6a1";
}

.bcc-icon-icon_time:before {
  content: "\e6a0";
}

.bcc-icon-ic_warning:before {
  content: "\e69f";
}

.bcc-icon-ic_Playbackx:before {
  content: "\e690";
}

.bcc-icon-ic_Barragex:before {
  content: "\e691";
}

.bcc-icon-ic_Likesx:before {
  content: "\e692";
}

.bcc-icon-ic_contributionx:before {
  content: "\e693";
}

.bcc-icon-ic_Warningx:before {
  content: "\e694";
}

.bcc-icon-icon_action_share_n_x:before {
  content: "\e695";
}

.bcc-icon-icon_commentx:before {
  content: "\e696";
}

.bcc-icon-icon_action_collection_n_x:before {
  content: "\e697";
}

.bcc-icon-icon_list_more_x:before {
  content: "\e698";
}

.bcc-icon-icon_list_player_x1:before {
  content: "\e699";
}

.bcc-icon-icon_list_ranking_x1:before {
  content: "\e69a";
}

.bcc-icon-Mediumx:before {
  content: "\e69b";
}

.bcc-icon-Mediumx1:before {
  content: "\e69c";
}

.bcc-icon-Mediumbeifenx:before {
  content: "\e69d";
}

.bcc-icon-icon_action_reward_n_x:before {
  content: "\e69e";
}

.bcc-icon-x1:before {
  content: "\e687";
}

.bcc-icon-x2:before {
  content: "\e688";
}

.bcc-icon-x3:before {
  content: "\e689";
}

.bcc-icon-x4:before {
  content: "\e68a";
}

.bcc-icon-x5:before {
  content: "\e68b";
}

.bcc-icon-x6:before {
  content: "\e68c";
}

.bcc-icon-x7:before {
  content: "\e68d";
}

.bcc-icon-x8:before {
  content: "\e68e";
}

.bcc-icon-x9:before {
  content: "\e68f";
}

.bcc-icon-x:before {
  content: "\e686";
}

.bcc-icon-icon_list_player_x:before {
  content: "\e684";
}

.bcc-icon-icon_list_ranking_x:before {
  content: "\e685";
}

.bcc-icon-ic_sortin_un:before {
  content: "\e682";
}

.bcc-icon-ic_sortin_on:before {
  content: "\e683";
}

.bcc-icon-combinedshape:before {
  content: "\e681";
}

.bcc-icon-ic_mall__oldx:before {
  content: "\e680";
}

.bcc-icon-ic_mall_:before {
  content: "\e67f";
}

.bcc-icon-ic_course_:before {
  content: "\e67e";
}

.bcc-icon-ic_Systemerror:before {
  content: "\e67b";
}

.bcc-icon-ic_systemprompt:before {
  content: "\e67c";
}

.bcc-icon-ic_successful:before {
  content: "\e67d";
}

.bcc-icon-bubaohux:before {
  content: "\e67a";
}

.bcc-icon-icon_tasklist_delete_:before {
  content: "\e678";
}

.bcc-icon-baohux:before {
  content: "\e679";
}

.bcc-icon-ic_exit:before {
  content: "\e671";
}

.bcc-icon-ic_Ishop:before {
  content: "\e672";
}

.bcc-icon-ic_management:before {
  content: "\e673";
}

.bcc-icon-ic_Livecenter:before {
  content: "\e674";
}

.bcc-icon-ic_moneypocket:before {
  content: "\e675";
}

.bcc-icon-ic_ordercenter:before {
  content: "\e676";
}

.bcc-icon-ic_Personalcenter:before {
  content: "\e677";
}

.bcc-icon-ic_MenuButton-tick:before {
  content: "\e670";
}

.bcc-icon-Defaultx:before {
  content: "\e66f";
}

.bcc-icon-Selectedx:before {
  content: "\e66e";
}

.bcc-icon-ic_search_:before {
  content: "\e66d";
}

.bcc-icon-ic_contribute:before {
  content: "\e66c";
}

.bcc-icon-ic_message_:before {
  content: "\e66b";
}

.bcc-icon-ic_set_1:before {
  content: "\e66a";
}

.bcc-icon-ic_experiment:before {
  content: "\e669";
}

.bcc-icon-ic_college_:before {
  content: "\e668";
}

.bcc-icon-ic_earnings_:before {
  content: "\e667";
}

.bcc-icon-ic_data_:before {
  content: "\e666";
}

.bcc-icon-ic_Content_:before {
  content: "\e665";
}

.bcc-icon-ic_home_:before {
  content: "\e650";
}

.bcc-icon-btn-more:before {
  content: "\e643";
}

.bcc-icon-ic_delete_:before {
  content: "\e645";
}

.bcc-icon-ic_growth:before {
  content: "\e649";
}

.bcc-icon-ic_enter:before {
  content: "\e64a";
}

.bcc-icon-ic_drop-down:before {
  content: "\e64b";
}

.bcc-icon-ic_fans_:before {
  content: "\e64d";
}

.bcc-icon-kefu:before {
  content: "\e64e";
}

.bcc-icon-ic_info-circle:before {
  content: "\e64f";
}

.bcc-icon-ic_download_:before {
  content: "\e651";
}

.bcc-icon-ic_pull:before {
  content: "\e654";
}

.bcc-icon-ic_Placed:before {
  content: "\e655";
}

.bcc-icon-ic_help:before {
  content: "\e656";
}

.bcc-icon-ic_laboratory_:before {
  content: "\e657";
}

.bcc-icon-icon_action_recommend_p_:before {
  content: "\e658";
}

.bcc-icon-icon_into_history_gray_:before {
  content: "\e659";
}

.bcc-icon-icon_control_comment_:before {
  content: "\e65a";
}

.bcc-icon-icon_tasklist_about_:before {
  content: "\e65b";
}

.bcc-icon-icon_action_recommend_line_n_:before {
  content: "\e65c";
}

.bcc-icon-icon_close_x:before {
  content: "\e65d";
}

.bcc-icon-icon_dingdao_zhuzhan:before {
  content: "\e65e";
}

.bcc-icon-icon_tasklist_feedback_:before {
  content: "\e65f";
}

.bcc-icon-tag_:before {
  content: "\e660";
}

.bcc-icon-logo:before {
  content: "\e661";
}

.bcc-icon-ic_interactive_:before {
  content: "\e662";
}

.bcc-icon-tag_1:before {
  content: "\e663";
}

.bcc-icon-tag_2:before {
  content: "\e664";
}