@font-face {
    font-family: "HarmonyOS_Regular";
    src: url('../font/HarmonyOS_Sans_SC_Regular.woff2') format('woff2');
    font-display: fallback;
}

@font-face {
    font-family: "HarmonyOS_Bold";
    src: url('../font/HarmonyOS_Sans_SC_Bold.woff2') format('woff2');
    font-display: fallback;
}

.backward {
    position: absolute;
    top: 2vh;
    margin-left: 28.5px;
    left: 0px;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.2s;
    z-index: 3;
}

.backward:hover {
    background-color: #3b3b3b;
}

.loading,
.loading-only,
.loading-multi {
    width: 30px;
    height: 30px;
    border: 2px solid #c4c4c4;
    border-top-color: transparent;
    border-radius: 100%;
    animation: circle infinite 0.75s linear;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s, visibility 0.5s;
    position: absolute;
}

.loading.active,
.loading-only.active,
.loading-multi.active {
    opacity: 1;
    visibility: visible;
}

@keyframes circle {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.swal-btn-main,
.swal-btn-backup1,
.swal-btn-backup2 {
    color: #c4c4c4 !important;
    background-color: #3b3b3b !important;
}

*::selection {
    background-color: #5c5c5c9d;
}

* {
    font-family: "HarmonyOS_Regular", sans-serif;
    color: #c4c4c4;
}

.fa-solid, .fa-regular,
.fa-thin, .fa-light,
.fa-duotone {
    color: #c4c4c4;
}

::-webkit-scrollbar {
    width: 7.5px;
    height: 7.5px;
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background: #58585c;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb {
    background: #808080;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #80808080;
}

body {
    font-weight: 400;
    background-color: #1f1f1f;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

i {
    color: #757575;
}

input {
    height: 100%;
    margin: 0;
    padding: 0;
}

input[name="search-input"] {
    display: inline-block;
    height: 40px;
    width: 100%;
    text-indent: 4px;
    border-radius: 30px;
    outline: none;
    border: none;
    background: none;
    font-size: 14px;
    text-align: center;
    user-select: none;
    transition-property: all;
    transition-duration: 0.4s;
}

input[name="search-input"]:hover {
    font-size: 15px;
}

input[name="down-dir-path"],
input[name="temp-dir-path"] {
    border-radius: 6px;
    border: 1px solid #5c5c5c;
    outline: none;
    background-color: #3b3b3bc0;
    width: 25vw;
    padding-left: 5px;
    padding-right: 5px;
}

.icon-small {
    margin-right: 6px;
}

.search-bar {
    transition-property: all;
    transition-duration: 0.4s;
    display: flex;
    background-color: #3B3B3B;
    border: none;
    border-radius: 30px;
    width: 680px;
    height: 43px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 3px 3px #2a2a2a;
}

.search-btn {
    color: #757575;
    width: 40px;
    height: 23px;
    display: flex;
    border-radius: 30px;
    padding: 10px;
    cursor: pointer;
    align-items: center;
    margin: 0;
    border: none;
    outline: none;
    background: none;
    justify-content: center;
    transition-property: all;
    transition-duration: 0.3s;
}

.search-btn:hover {
    background-color: #5c5c5c9d;
}

.search:focus-within .search-bar {
    background-color: #c4c4c4;
}

.search:focus-within input[name="search-input"] {
    color: #3b3b3b;
}

.search {
    text-align: center;
    position: absolute;
}

.search.active {
    top: 2vh;
    animation: search-anime 0.5s cubic-bezier(0,1,.6,1);
}

.search.back {
    top: calc(50vh - 21.5px);
    animation: search-back-anime 0.5s cubic-bezier(0,1,.6,1);
}

@keyframes search-anime {
    0% {
        top: calc(50vh - 21.5px);
    }
    100% {
        top: 2vh;
    }
}

@keyframes search-back-anime {
    0% {
        top: 2vh;
    }
    100% {
        top: calc(50vh - 21.5px);
    }
}

.video-root {
    display: flex;
    width: 80%;
    position: absolute;
    flex-direction: column;
    top: calc(4vh + 43px);
}

.video-list,
.video-multi-next-list {
    display: none;
    position: relative;
    top: 0;
    width: 100%;
    transition-property: all;
    transition-duration: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    overflow: auto;
}

.video-list { max-height: calc(96vh - 274.6px); }

.video-multi-next-list {
    min-height: calc(90vh - 12px);
    max-height: calc(90vh - 12px);
    top: 9vh;
}

.video-multi-next-list.active,
.video-list.active {
    opacity: 1;
    visibility: visible;
}

.video-list.active { animation: video-list-anime 0.5s cubic-bezier(0,1,.6,1); }

.video-multi-next-list.active { animation: video-multi-next-list-anime 0.5s cubic-bezier(0,1,.6,1); }

@keyframes video-list-anime {
    0% {
        top: 5vh;
    }
    100% {
        top: 0vh;
    }
}

@keyframes video-multi-next-list-anime {
    0% {
        top: 14vh;
    }
    100% {
        top: 9vh;
    }
}

.video-list-tab-head {
    min-width: 100%;
    min-height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    transition-property: all;
    transition-duration: 0.4s;
    background-color: #3b3b3b9b;
    border-radius: 5px;
    border-left: none;
    border-right: none;
    border-top: 1px solid #2a2a2a;
    border-bottom: 1px solid#2a2a2a;
    display: none;
    align-items: center;
    position: relative;
    top: 0;
    opacity: 0;
    transition: opacity 0.4s
}

.video-list-tab-head.active {
    opacity: 1;
    display: flex;
}

.video-block,
.video-multi-next-block {
    width: 100%;
    transition-property: all;
    transition-duration: 0.2s;
    background-color: #3b3b3b9b;
    border-radius: 5px;
    min-height: 50px;
    border-left: none;
    border-right: none;
    border-top: 1px solid #2a2a2a;
    border-bottom: 1px solid#2a2a2a;
    display: flex;
    align-items: center;
    top: 0;
}

.video-block.multi-select:hover {
    background-color: #3b3b3b !important;
}

.info {
    height: 190px;
    min-width: 100%;
    transition-property: all;
    transition-duration: 0.4s;
    display: none;
    background-color: #3b3b3bc0;
    border: none;
    border-radius: 5px;
    align-items: center;
    align-self: flex-start;
    opacity: 0;
    transition: opacity 0.4s, visibility 0.5s;
    position: relative;
    top: 0;
}

.down-page-info { 
    transition-property: all;
    transition-duration: 0.4s;
    min-height: 145px;
    width: 80%;
    display: flex; 
    align-items: center; 
    justify-content: center;
    position: relative;
    background-color: #3b3b3bc0;
    border-radius: 5px;
    border-top: 1px solid #2a2a2a;
    border-bottom: 1px solid #2a2a2a;
}

.info.active {
    display: flex;
    opacity: 1;
}

.down-page-info-cover,
.info-cover {
    border-radius: 8px;
    height: 160px;
    user-select: none;
    margin-left: 16px;
}

.down-page-info-cover { 
    height: 125px;
    margin-left: 12px;
}

.down-page-info-data,
.info-data {
    margin-top: 16px;
    margin-left: 16px;
    height: calc(100% - 16px);
    position: relative;
    align-self: flex-start;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.down-page-info-data {
    height: 120px; 
    margin-top: 12px; 
}

.down-page-info-title,
.video-multi-next-title,
.info-title,
.settings-page-title {
    font-size: 18px;
    margin-bottom: 6px;
    min-height: 24px;
    max-height: 48px;
    max-width: 86%;
    overflow: auto;
    word-wrap: break-word;
    flex-shrink: 0;
}

.video-multi-next-title {
    position: relative;
    top: 5vh;
}

.down-page-info-title { max-height: 24px; }

.info-stat {
    font-size: 14px;
    position: relative;
    line-height: 24px;
    max-width: 600px;
}

.info-stat-item {
    display: inline-flex;
    color: rgb(133, 127, 119);
    margin-right: 12px;
}

.info-styles {
    font-size: 14px;
    color: rgb(133, 127, 119);
    position: relative;
    display: inline-flex;
    margin-bottom: 6px;
}

.down-page-info-desc,
.info-desc {
    line-height: 20px;
    font-size: 14px;
    min-width: calc(100% - 10px);
    position: relative;
    align-self: flex-start;
    margin-bottom: 12px;
    list-style: circle;
    max-height: 100px;
    overflow-y: auto;
}

.down-page-info-desc { max-height: 40px; }

.down-page-info-progress-text {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 14px;
}

.down-page-info-progress {
    position: absolute;
    bottom: 5px;
    width: 98%;
    height: 6px;
    background-color: #58585c;
    border-radius: 10px;
    overflow: hidden;
}

.down-page-info-progress-bar {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #888888;
    border-radius: 10px;
}

.down-page-empty-text {
    position: absolute;
    top: 50%;
}

.info-owner {
    position: absolute;
    right: 0px;
    top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    max-width: 110px;
    margin-right: 16px;
    min-width: 65px;
}

.info-owner-face {
    border-radius: 18px;
    height: 36px;
    width: 36px;
    user-select: none;
    margin-bottom: 5px;
}

.info-owner-name {
    font-size: 12px;
    max-width: 110px;
    overflow-x: auto;
    white-space: nowrap;
}

.multi-select-next-btn,
.multi-select-next-down-btn,
.multi-select-btn {
    position: fixed;
    bottom: 2vh;
    display: none;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    cursor: pointer;
    transition-duration: 0.3s;
    display: flex;
    opacity: 0;
    visibility: hidden;
}

.multi-select-btn { 
    margin-left: 2vh;
    left: 0px;
}

.multi-select-next-down-btn,
.multi-select-next-btn {
    margin-right: 2vh;
    right: 0px;
}

.multi-select-next-down-btn.active,
.multi-select-next-btn.active,
.multi-select-btn.active {
    opacity: 1;
    visibility: visible;
}

.multi-select-next-down-background,
.multi-select-next-background,
.multi-select-background {
    width: 100px;
    height: 40px;
    background-color: #2a2a2a;
    cursor: pointer;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: all;
    transition-duration: 0.2s;
}

.multi-select-next-down-name,
.multi-select-next-name,
.multi-select-name {
    font-size: 12px;
    margin-left: 8px;
    user-select: none;
}

.multi-select-next-name { margin-left: 4px; }

.multi-select-next-down-background:hover,
.multi-select-next-background:hover,
.multi-select-background:hover,
.multi-select-box-checkmark:hover {
    background-color: #3b3b3b;
}

.multi-select-box-checkmark:hover {
    border: 2px solid #646464;
}

.multi-select-box {
    display: none;
    margin-left: 15px;
    margin-right: 10px;
    width: 15px;
    height: 15px;
    position: relative;
}

.multi-select-box-org {
    opacity: 0;
    position: absolute;
}

.multi-select-box-checkmark {
    transition: background-color 0.1s ease-in-out, border 0.1s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #3b3b3b;
    border: 2px solid #252525;
    border-radius: 4px;
    cursor: pointer;
}

.multi-select-box:hover .multi-select-box-checkmark {
    background-color: #444;
}

.multi-select-box-org:checked ~ .multi-select-box-checkmark {
    background-color: #494949;
}

.multi-select-box-checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid #c4c4c4;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.multi-select-box-org:checked ~ .multi-select-box-checkmark:after {
    display: block;
}

.multi-select-box-tab { display: none; min-width: 30px !important;}

.multi-select-box-tab,
.video-block-page,
.video-block-name,
.video-block-duration,
.video-block-operates,
.video-block-multi-select-quality {
    font-size: 14px;
    position: relative;
    margin-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}    

.video-block-title {
    position: absolute;
    font-size: 14px;
    right: 0;
    top: 0;
    margin: 10px;
}

.video-block-page {
    min-width: 40px;
    margin-left: 20px;
}

.video-block-name {
    max-width: 32vw;
    min-width: 32vw;
}

.video-block-duration {
    min-width: 70px;
}

.video-block-operates {
    display: flex;
    flex-direction: row;
}

.video-block-multi-select-quality {
    flex-grow: 1;
    width: auto;
}

.video-block-operates-item {
    cursor: pointer;
    font-size: 13px !important;
    user-select: none;
    margin-right: 20px;
    padding: 7.5px 12px;
    background-color: #1f1f1f2a;
    border-radius: 8px;
}

.video-block-operates-item:hover {
    background-color: #1f1f1f87;
    transition: background-color 0.1s ease-in-out, border 0.1s ease-in-out;
}

.video-block-only,
.video-block-multi {
    width: 97%;
    transition-property: all;
    transition-duration: 0.4s;
    background-color: #3b3b3b9b;
    border-radius: 5px;
    min-height: 230px;
    max-height: 230px;
    border-left: none;
    border-right: none;
    border-top: 1px solid #2a2a2a;
    border-bottom: 1px solid#2a2a2a;
    opacity: 0;
    transition: opacity 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

.video-block-multi.active,
.video-block-only.active {
    animation: video-block-anime 0.5s cubic-bezier(0,1,.6,1);
    opacity: 1;
}

.video-block-multi.back,
.video-block-only.back {
    animation: video-block-back-anime 0.5s cubic-bezier(0,1,.6,1);
}

.video-block-multi-video-down-btn,
.video-block-only-audio-down-btn,
.video-block-only-video-down-btn {
    position: absolute;
    padding: 7.5px 20px;
    background-color: #1f1f1f2a;
    margin: 10px;
    font-size: 13px;
    border-radius: 8px;
    align-self: flex-end;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.2s;
}

.video-block-multi-video-down-btn,
.video-block-only-audio-down-btn { bottom: 10px; }

.video-block-multi-video-down-btn:hover,
.video-block-only-audio-down-btn:hover,
.video-block-only-video-down-btn:hover {
    background-color: #1f1f1fa4;
}

@keyframes video-block-anime {
    0% {
        min-height: 0px;
        max-height: 0px;
    }
    100% {
        min-height: 230px;
        max-height: 230px;
    }
}

@keyframes video-block-back-anime {
    0% {
        min-height: 230px;
        max-height: 230px;
    }
    100% {
        min-height: 0px;
        max-height: 0px;
        opacity: 0;
        visibility: hidden;
    }
}

.video-block-split,
.video-block-audio-split,
.video-block-codec-split,
.video-block-dimension-split {
    background-color: #c4c4c433;
    width: 2px;
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 30px;
}

.video-block-cross-split {
    height: 8px;
    align-self: center;
    width: 100%;
    position: relative;
}

.video-block-cross-split::after {
    content: '';
    height: 0.5px;
    width: 96%;
    left: 2%;
    top: 50%;
    position: absolute;
    background-color: #6666669d;
}

.video-block-getcover-btn,
.video-block-getvideo-btn,
.video-block-getonly-btn {
    font-size: 14px;
}

.video-block-audio-ads,
.video-block-codec-cds,
.video-block-dimension-dms {
    display: flex;
    align-self: flex-start;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
}

.video-block-audio-ad,
.video-block-codec-cd,
.video-block-dimension-dm,
.video-block-audio-ads-opt,
.video-block-codec-cds-opt,
.video-block-dimension-dms-opt {
    font-size: 14px;
    position: relative;
    margin-left: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    min-width: 90px;
    margin-left: 20px;
    display: flex;

}

.video-block-audio-ads-item,
.video-block-codec-cds-item,
.video-block-dimension-dms-item {
    cursor: pointer;
    font-size: 13px !important;
    user-select: none;
    margin-right: 10px;
    padding: 7.5px 12px;
    background-color: #1f1f1f2a;
    border-radius: 8px;
    transition: background-color 0.2s;
}

.video-block-audio-ads-item:hover,
.video-block-codec-cds-item:hover,
.video-block-dimension-dms-item:hover {
    background-color: #1f1f1fa4;
    transition: background-color 0.1s ease-in-out, border 0.1s ease-in-out;
}

.video-block-audio-ads-item.checked,
.video-block-codec-cds-item.checked,
.video-block-dimension-dms-item.checked {
    background-color: #1a1a1aca;
}

.login,
.down-page,
.video-multi-next,
.user-profile,
.settings {
    width: 100vw;
    min-height: 100vh;
    max-height: 100vh;
    bottom: 0;
    background-color: #1f1f1f;
    position: absolute;
    display: flex;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s, visibility 0.5s;
    z-index: 2;
    overflow: auto;
}

.settings {
    z-index: 3;
    align-items: flex-end;
    overflow: hidden;
}

.user-profile,
.login {
    justify-content: center;
    z-index: 3;
}

.down-page {
    z-index: 3;
    justify-content: flex-start;
    flex-direction: column;
}

.video-multi-next {
    width: 80vw;
    flex-direction: column;
    overflow: hidden;
}

@keyframes page-anime {
    0% {
        top: 36px;
    }
    100% {
        top: 0px;
    }
}

.down-page.active,
.login.active,
.video-multi-next.active,
.user-profile.active,
.settings.active {
    animation: page-anime 0.5s cubic-bezier(0,1,.6,1);
    opacity: 1;
    visibility: visible;
}

@keyframes page-back-anime {
    0% {
        top: 0px;
    }
    100% {
        top: 36px;
    }
}

.down-page.back,
.login.back,
.video-multi-next.back,
.user-profile.back,
.settings.back {
    animation: page-back-anime 0.5s cubic-bezier(0,1,.6,1);
    opacity: 0;
    visibility: hidden;
}

.user-profile a {
    margin-bottom: 5px;
    display: inline-block;
}

.user-profile-background {
    background-size: cover;
    width: 1080px;
    height: 169px;
    z-index: -1;
    position: absolute;
    border-radius: 8px;
}

.user-profile-background::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.13) 25%, rgba(0,0,0,0.26) 50%, rgba(0,0,0,0.4) 75%, rgba(0,0,0,0.66) 100%);
    z-index: -1;
    border-radius: 8px;
}

.user-profile-card {
    justify-content: center;
    position: absolute;
    left: 22px;
    bottom: 15px;
}

.user-profile-n-statistics a { color: #e5e5e5; }

.user-profile-n-statistics {
    justify-content: center;
    position: absolute;
    right: 22px;
    bottom: 15px;
    display: flex;
    font-size: 12px;
}

.user-profile-card,
.user-profile-head {
    display: flex;
    align-items: center;
}

.user-profile-avatar {
    border-radius: 32px;
    height: 64px;
    user-select: none;
    position: relative;
    border: 2px solid rgba(47, 50, 52, 0.4);
}

.user-profile-h-basic {
    margin-left: 22px;
}


.user-profile-h-spacing {
    margin-top: 3px;
    font-size: 12px;
}

.user-profile-name,
.user-profile-desc {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 768px;
    color: #e5e5e5;
}

.user-profile-desc { line-height: 26px; }

.user-profile-name {
    display: inline-block;
    height: 24px;
    margin-right: 5px;
    line-height: 18px;
    font-size: 18px;
    vertical-align: middle;
    line-height: 20px;
    font-family: "HarmonyOS_Bold", sans-serif;
    font-weight: 500;
}

.user-profile-bigvip {
    width: 69px;
    height: 20px;
    display: none;
}

.user-profile-bigvip,
.user-profile-sex,
.user-profile-level {
    margin-bottom: 3px;
}

.user-profile-coins,
.user-profile-subs,
.user-profile-fans,
.user-profile-likes {
    color: #e5e5e5;
    width: auto;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    min-width: 36px;
}

#login-qrcode {
    margin-right: 20px;
    user-select: none;
}

.login-status {
    margin-top: 20px;
}

.login-icon {
    margin: 2px;
}

.login a {
    color: #6995bf;
    text-decoration: none;
}

.down-page-info-id {
    position: absolute;
    font-size: 12px;
    right: 20px;
    top: 0px;
}

.side-bar {
    position: absolute;
    right: 0px;
    top: 0px;
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
}

.profile,
.down-page-bar,
.settings-page-bar,
.settings-side-general-bar,
.settings-side-advanced-bar {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    max-width: 100px;
    margin: 16px;
    min-width: 75px;
}

.settings-page-bar {
    position: absolute;
    bottom: 0;
}

.user-profile-exit {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    width: 100px;
    left: 22px;
    top: 15px;
}

.user-profile-exit-background {
    width: 100px;
    height: 40px;
    background-color: #2a2a2a;
    cursor: pointer;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: all;
    transition-duration: 0.3s;
}

.user-profile-exit-name {
    font-size: 12px;
    margin-left: 8px;
    user-select: none;
}

.down-page-bar-background,
.settings-side-general-bar-background,
.settings-side-advanced-bar-background,
.settings-page-bar-background {
    width: 50px;
    height: 50px;
    background-color: #2a2a2a;
    cursor: pointer;
    margin-bottom: 8px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: all;
    transition-duration: 0.3s;
}

.user-profile-exit-background:hover,
.down-page-bar-background:hover,
.settings-side-advanced-bar-background:hover,
.settings-side-general-bar-background:hover,
.settings-page-bar-background:hover {
    background-color: #3b3b3b !important;
}

.settings-side-general-bar-background.checked,
.settings-side-advanced-bar-background.checked {
    background-color: #4c4c4c;
}

.user-avatar-placeholder {
    position: relative;
    display: inline-block;
    height: 46px;
    margin-bottom: 8px;
}

.user-avatar {
    border-radius: 23px;
    height: 46px;
    user-select: none;
    margin-bottom: 5px;
    position: relative;
}

.user-avatar-placeholder::after {
    content: attr(data-after);
    font-size: 12px;
    line-height: 46px;
    text-align: center;
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 23px;
    height: 46px;
    width: 46px;
    background: #3b3b3bbe;
    opacity: 0;
    transition: opacity 0.3s;
}

.user-avatar-placeholder:hover::after {
    opacity: 0.8;
    cursor: pointer;
}

.down-page-bar-name,
.settings-side-general-bar-name,
.settings-side-advanced-bar-name,
.settings-page-bar-name,
.user-name {
    font-size: 13px;
    max-width: 110px;
    overflow-x: auto;
    white-space: nowrap;
}

.user-vip-icon {
    position: absolute;
    bottom: 0px;
    right: 0px;
    display: none;
}

.settings-side-bar {
    height: calc(98vh - 50px);
    bottom: 0;
    position: relative;
}

.settings-general-page,
.settings-advanced-page {
    width: calc(100vw - 107px);
    left: 107px;
    height: calc(98vh - 12px);
    position: absolute;
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
}

.settings-general-page.active,
.settings-advanced-page.active {
    opacity: 1;
    visibility: visible;
    animation: settings-page-anime 0.5s cubic-bezier(0,1,.6,1);
}

@keyframes settings-page-anime {
    0% {
        bottom: -20px;
    }
    100% {
        bottom: 0px;
    }
}

.settings-page-block-title { margin-right: 50px; }

.settings-page-block-cont { height: 26px; }

.settings-page-block {
    display: flex;
    width: 100%;
    height: 24px;
    margin-top: 14px;
    margin-bottom: 14px;
    align-items: center;
}

.down-dir-path-openbtn,
.temp-dir-path-openbtn {
    width: 70px;
    height: 120%;
    margin-left: 10px;
    background-color: #2a2a2a;
    cursor: pointer;
    font-size: 12px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: all;
    transition-duration: 0.3s;
    position: relative;
}

.down-dir-path-openbtn:hover,
.temp-dir-path-openbtn:hover {
    background-color: #3b3b3b !important;
}